<div class="dashboard">
  <div class="dash-card" id="profile">
      <h3>This my name</h3>
  </div>
  <div class="dash-card">
    <h3>contributors</h3>

  </div>
  <div class="dash-card">
    <h3>contributors</h3>

    </div>
    <div class="dash-card">
    <h3>contributors</h3>

    </div>
    <div id="info-card" class="dash-card">
    <h3>contributors</h3>

    </div>
</div>
</div>
     <!--   <%= image_tag "tara.png", class: "img-circle avatar-sm"%> -->
